body {
    font-family: Passenger-Sans,sans-serif;
    font-weight: normal;
    color: #2f2f2f;
    text-rendering: optimizeLegibility;
}

main {
    max-width: 640px;
    margin: 0 auto;
    padding: 12px;
}

h1 {
    font-size: 100px;
    font-weight: 600;
    margin-top: 24px;
}

p {
    font-size: 42px;
    line-height: 1.5;
    color: #717182;
}

.logo {
    width: 100px;
    height: 100px;
}
